.main {
    text-align: center;
    background-color: #9cc;
    width: 100vw;
    height: 100vh;
    font-family: 'TWCen'
}

.main-header {
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.main-ticket-header {
    display: flex;

}

.ticket {
    margin: .5rem;
    margin-bottom: 0;
}

.header {
    color: #c00;
    font-size: 100px;
}

.title {
    color: #c00;
    font-size: 45px;
}

.subtitle {
    font-size: 40px;
}

.year {
    font-size: 30px;
}

.main-button-selection {
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    justify-content: space-evenly;

}

.dropdown-item:hover {
    color: #c00;
}

.button {
    color: #c00;
    border: #c00 solid 2px;
    padding: 1.5rem;
}

.button-size {
    width: 175px;
}

.button-text-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-button-name {
    font-family: 'TWCen';
    color: #999;
    font-size: 30px;
    overflow: hidden;
}

.main-show-me {
    padding: 2.5rem;
}

.show-me {
    color: #c00;
    font-weight: bold;
    font-size: 30px;
}

.main-pop-rand {
    padding-left: 25rem;
    padding-right: 25rem;
    display: flex;
    justify-content: space-evenly;
}

.pop-rand {
    font-family: 'TWCen';
    font-weight: bold;
    border-radius: 25px;
    background-color: #c00;
    color: black;
    font-size: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.stream {
    font-family: 'TWCen';
    border-radius: 25px;
    background-color: #c00;
    color: black;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.moviePoster {
    max-height: 200px;
}

.movies {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 0px;
}